<!doctype html>
<head>
    <title>{{ page_title }} @fridgecheck</title>
</head>

{% if error %}
<div class="error">
    {{ error.message }}
</div>
{% endif %}

<h2>{{ stop }}</h2>

<body>
    <div class="container">
        <table>
            <tr>
                <th>Upcoming departures</th>
            </tr>
            {% for stop in stops %}
                {% include 'stop_row.html' %}
            {% else %}
                <tr><td>Alas! No departures are upcoming.</td></tr>
            {% endfor %}
        </table>
    </div>
</body>