<tr>
    <td colspan=2>
        {{ prediction.farezone }}
    </td>
    <td>
        {{ prediction.closed }}
    </td>
    <td>
        <table>
            <tr>
                <td>To</td>
                <td>Timetable arrival</td>
                <td>Estimated arrival</td>
                <td>Status</td>
            </tr>
            {% for departure in prediction.departures %}
            {% if departure.status %}
            <tr>
                <td><b>{{ departure.destination.name }}</b> ({{ departure.destination.stop_id }})</td>
                <td>{{ departure.arrival.aimed_date.strftime('%H:%M') }}</td>
                <td>
                    {% if departure.arrival.expected_date %}
                        {{ departure.arrival.expected_date.strftime('%H:%M:%S')|default('=', true) }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                {# <td>{{ departure.delay }}</td> #}
                {# <td>{{ departure.vehicle_id }}</td> #}
                <td>{{ departure.status }}</td>
            </tr>
            {% endif%}
            {% endfor %}
        </table>
    </td>
</tr>