<tr>
    <td colspan=2>
        {{ stop.farezone }} // <b>{{stop.departures[0].stop_id}}</b>
        {% if stop.closed %}CLOSED{% endif %}
    </td>
    <td>
        <table>
            <tr>
                <th>To</th>
                <th>Timetable arrival</th>
                <th>Estimated arrival</th>
                <th>Status</th>
            </tr>
            {% for departure in stop.departures %}
            {% if departure.status or (departure.arrival.expected and departure.arrival.expected < max_departure_time) %}
            <tr>
                <td><img src="{{ url_for('static', filename='train.svg') }}" /><b>{{ departure.destination.name }}</b> ({{ departure.destination.stop_id }})</td>
                <td>{{ departure.arrival.aimed.strftime('%H:%M') }}</td>
                <td>
                    {% if departure.arrival.expected %}
                        {{ departure.arrival.expected.strftime('%H:%M:%S')|default('=', true) }}
                    {% else %}
                        -
                    {% endif %}
                </td>
                {# <td>{{ departure.delay }}</td> #}
                {# <td>{{ departure.vehicle_id }}</td> #}
                <td>{{ departure.status }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </td>
</tr>