body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

tr.far-away td.destination-name {
    opacity: 0.5;
}
tr.far-away td.aimed-for-time,
tr.far-away td.expected-for-time,
tr.far-away td.status {
    opacity: 0.5;
    font-style: italic;
}

tr.cancelled {
    opacity: 0.5;
}